<div class="d-flex justify-content-center align-items-center" >
  <div class="card shadow-lg border-0 rounded-4 p-5 w-75 ">
    <form [formGroup]="form"  (ngSubmit)="handleSubmitForm()">
      <h3 class="fw-bold mb-3" style="color: var(--blue-color);">بيانات الشركة</h3>
      <hr class="mb-4">

      <!-- بيانات الشركة -->
      <div class="row g-4 row-cols-1 row-cols-md-3">
        <div class="col">
          <label class="form-label fw-semibold">اسم الشركة</label>
          <input formControlName="name" [class.is-valid]="companyName?.valid && companyName?.touched"
            [class.is-invalid]="companyName?.invalid && companyName?.touched" class="form-control" type="text"
            placeholder="مثال: الشركة المصرية للتجارة">
          <div class="invalid-feedback">اسم الشركة مطلوب</div>
        </div>

        <div class="col">
          <label class="form-label fw-semibold">رقم التسجيل الضريبي</label>
          <input formControlName="rin" [class.is-valid]="rin?.valid && rin?.touched"
            [class.is-invalid]="rin?.invalid && rin?.touched" class="form-control" type="text"
            placeholder="مثال: 123456789">
          <div class="invalid-feedback">رقم التسجيل الضريبي مطلوب</div>
        </div>
        <div class="col">
          <label class="form-label fw-semibold">كود النشاط</label>
          <select class="form-select" [class.is-invalid]="activeCodeId?.invalid && activeCodeId?.touched" formControlName="activeCodeId">
            <ng-container *ngFor="let activeCode of activeCodes;let i = index">
              <option value="{{activeCode.id}}">{{activeCode.code}}</option>
            </ng-container>
          </select>
          <div class="invalid-feedback">مطلوب كود النشاط</div>
        </div>
      </div>

      <!-- بيانات الفرع -->
      <div formGroupName="branch">
        <h3 class="mt-5 fw-bold" style="color:var(--blue-color)">بيانات الفرع الرئيسي</h3>
        <hr class="mb-4">

        <div class="row g-4 row-cols-1 row-cols-md-3">
          <div class="col w-100">
            <label class="form-label fw-semibold">كود الفرع</label>
            <input formControlName="code" [class.is-valid]="code?.valid && code?.touched"
              [class.is-invalid]="code?.invalid && code?.touched" class="form-control" type="text"
              placeholder="مثال: BR001">
            <div class="invalid-feedback">كود الفرع مطلوب</div>
          </div>
          <div class="col">
            <label class="form-label fw-semibold">البلد</label>
            <select class="form-select"  >
              <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
            </select>
            <div class="invalid-feedback">البلد مطلوبة</div>
          </div>
          <div class="col">
            <label class="form-label fw-semibold">المحافظة</label>
            <select class="form-select" >
              <option *ngFor="let governorate of governorates" value="{{governorate.id}}">{{governorate.name}}</option>
            </select>
            <div class="invalid-feedback">المحافظة مطلوبة</div>
          </div>
          <div class="col">
            <label class="form-label fw-semibold">المدينة</label>
            <select class="form-select" [class.is-invalid]="cityId?.invalid && cityId?.touched" formControlName="cityId" >
              <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
            </select>
            <div class="invalid-feedback">المدينة مطلوبة</div>
          </div>
        </div>


        <!-- بيانات دافع الضرائب -->
        <h3 class="mt-5 fw-bold" style="color:var(--blue-color)">بيانات دافع الضرائب</h3>
        <hr class="mb-4">

        <div class="row g-4 row-cols-1 row-cols-md-3" formGroupName="applicationUser">
          <div class="col">
            <label class="form-label fw-semibold">الاسم</label>
            <input formControlName="name" [class.is-valid]="userName?.valid && userName?.touched"
              [class.is-invalid]="userName?.invalid && userName?.touched" class="form-control" type="text"
              placeholder="أدخل الاسم الرباعي">
            <div class="invalid-feedback">الاسم مطلوب</div>
          </div>

          <div class="col">
            <label class="form-label fw-semibold">الرقم القومي</label>
            <input formControlName="ssn" [class.is-valid]="ssn?.valid && ssn?.touched"
              [class.is-invalid]="ssn?.invalid && ssn?.touched" class="form-control" type="text"
              placeholder="مثال: 29801012345678">
            <div class="invalid-feedback">الرقم القومي مطلوب</div>
          </div>

          <div class="col">
            <label class="form-label fw-semibold">رقم التليفون</label>
            <input formControlName="phoneNumber" [class.is-valid]="phoneNumber?.valid && phoneNumber?.touched"
              [class.is-invalid]="phoneNumber?.invalid && phoneNumber?.touched" class="form-control" type="text"
              placeholder="مثال: +201234567890">
            <div class="invalid-feedback">رقم التليفون مطلوب</div>
          </div>

          <div class="col">
            <label class="form-label fw-semibold">ايميل</label>
            <input formControlName="email" type="email" [class.is-valid]="email?.valid && email?.touched"
              [class.is-invalid]="email?.invalid && email?.touched" class="form-control"
              placeholder="مثال: user@example.com">
            <div class="invalid-feedback">البريد الإلكتروني غير صالح</div>
          </div>

          <div class="col">
            <label class="form-label fw-semibold">كلمة المرور</label>
            <input formControlName="password" type="password" [class.is-valid]="password?.valid && password?.touched"
              [class.is-invalid]="password?.invalid && password?.touched" class="form-control"
              placeholder="أدخل كلمة مرور قوية">
            <div class="invalid-feedback">كلمة المرور مطلوبة</div>
          </div>
        </div>
      </div>

      <!-- الأزرار -->
      <div class="mt-5 d-grid gap-3">
        <button type="submit" class="btn btn-primary fs-5 ">
          <i class="bi bi-person-plus me-2"></i> تسجيل حساب جديد
        </button>
        <a routerLink="/auth/login" class="btn btn-outline-primary fs-5">
          <i class="bi bi-box-arrow-in-right me-2"></i> تسجيل الدخول
        </a>
      </div>
    </form>
  </div>
</div>
