<aside>
  <ul>
    <li>
      <a routerLink="dashboard">لوحة التحكم</a>
    </li>
    <li>
      <p>ادارة العناوين</p>
      <ul>
        <li>
          <a routerLink="address-management/countries">البلاد</a>
        </li>
        <li>
          <a routerLink="address-management/governorates">المحافظات</a>
        </li>
        <li>
          <a routerLink="address-management/cities">المدن</a>
        </li>
      </ul>
    </li>
    <li>
      <p>ادارة الصلاحيات</p>
      <ul>
        <li>
          <a routerLink="role-management/roles">الصلاحيات</a>
        </li>
        <li>
          <a routerLink="role-management/new">انشاء صلاحية</a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
