<div class="d-flex flex-column p-3 shadow-sm bg-light">
  <h5 class="fw-bold text-primary mb-4">لوحة التحكم</h5>
  <ul class="nav nav-pills flex-column mb-auto">
    <!-- الرئيسية -->
    <li class="nav-item mb-2">
      <a routerLink="home" routerLinkActive="active" class="nav-link rounded-3 text-dark">
        <i class="bi bi-house-door me-2"></i>
        الصفحة الرئيسية
      </a>
    </li>

    <!-- المنتجات (Dropdown) -->
    <li class="nav-item mb-2">
      <a
        class="nav-link text-dark"
        data-bs-toggle="collapse"
        href="#productsMenu"
        role="button"
        aria-expanded="false"
        aria-controls="productsMenu"
      >
        <i class="bi bi-box-seam me-2"></i>
        المنتجات
      </a>
      <div class="collapse pe-4" id="productsMenu">
        <ul class="nav flex-column">
          <!-- قائمة المنتجات -->
          <li class="nav-item mb-1">
            <a routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link text-secondary small">
              <i class="bi bi-list me-2" style="font-size: 0.9rem;"></i>
              قائمة المنتجات
            </a>
          </li>
          <!-- إضافة منتج -->
          <li class="nav-item mb-1">
            <a routerLink="products/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link text-secondary small">
              <i class="bi bi-plus-circle me-2" style="font-size: 0.9rem;"></i>
              إضافة منتج
            </a>
          </li>
        </ul>
      </div>
    </li>



    <!-- الايصالات (Dropdown) -->
    <li class="nav-item mb-2">
      <a
        class="nav-link text-dark"
        data-bs-toggle="collapse"
        href="#receiptsMenu"
        role="button"
        aria-expanded="false"
        aria-controls="receiptsMenu"
      >
        <i class="bi bi-box-seam me-2"></i>
        الايصالات
      </a>
      <div class="collapse pe-4" id="receiptsMenu">
        <ul class="nav flex-column">
          <li class="nav-item mb-1">
            <a routerLink="receipts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link text-secondary small">
              <i class="bi bi-list me-2" style="font-size: 0.9rem;"></i>
              قائمة الايصالات
            </a>
          </li>
          <li class="nav-item mb-1">
            <a routerLink="receipts/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link text-secondary small">
              <i class="bi bi-plus-circle me-2" style="font-size: 0.9rem;"></i>
              انشاء ايصال
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
