.auth-layout{
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container{
  width: 500px;
}

.auth-container .auth-header{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.auth-container .auth-body{
  background-color: var(--success-color);
  padding: 1rem;
}
