<form [formGroup]="form" (ngSubmit)="handleSubmitForm()" class="p-3">
  <div class="mb-3">
    <label for="code" class="form-label fw-bold">النوع</label>
    <input
      id="code"
      type="text"
      class="form-control"
      formControlName="type"
      [class.is-valid]="type?.valid && type?.touched"
      [class.is-invalid]="type?.invalid && type?.touched"
      placeholder="ادخل النوع هنا"
    />

    <!-- رسائل الأخطاء -->
    <div *ngIf="type?.invalid && type?.touched" class="form-text text-danger mt-1">
      <div *ngIf="type?.errors?.['required']">
        ⚠️ النوع مطلوب
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="code" class="form-label fw-bold">الاصدار</label>
    <input
      id="code"
      type="text"
      class="form-control"
      formControlName="version"
      [class.is-valid]="version?.valid && version?.touched"
      [class.is-invalid]="version?.invalid && version?.touched"
      placeholder="ادخل الاصدار هنا"
    />

    <!-- رسائل الأخطاء -->
    <div *ngIf="version?.invalid && version?.touched" class="form-text text-danger mt-1">
      <div *ngIf="version?.errors?.['required']">
        ⚠️ الاصدار مطلوب
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-end gap-2">
    <button type="button" (click)="handleCloseClick()" class="btn btn-secondary rounded-0">
      إلغاء
    </button>
    <button class="btn btn-success rounded-0" type="submit" [disabled]="form.invalid">
      حفظ
    </button>
  </div>
</form>
