:root{
  --main-color : #007bff;
  --brown-color:#343a40;
  --background-color:#f4f6f9;
}


* {
  box-sizing :border-box;

}

body{
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


