.header {
  height: 64px;
  background-color: #fff;
  padding: 0 24px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  display: flex;
  align-items: center;

  box-shadow: 0 2px 6px rgba(0,0,0,0.03);
}

/* Title */
.header h6 {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

/* Right section */
.header-actions {
  font-size: 14px;
  color: #555;
}

/* User name */
.user-name {
  padding: 6px 12px;
  border-radius: 20px;
  background-color: rgba(9, 1, 175, 0.08);
  color: var(--main-color);
  font-weight: 500;
}
