:root {
  --blue-color: #133e87;
  --white-color: white;
  --green-color: #009879;

  --dark-text : black;
  --white-text : white;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* main layout */
.main-layout{
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      "header header"
      "sidebar body";
  height: 100vh;
}

.header-area{
  grid-area: header;
}

.sidebar-area{
  grid-area: sidebar;
}

.body-area{
  grid-area: body;
}


/* snackbar */
.snackbar-success {
  background-color: #4caf50 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 8px !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 8px !important;
  white-space: pre-line;
}
.mat-snack-bar-action {
  color: #ffeb3b !important; /* أصفر */
  font-weight: bold;
}

