<div class="sidebar">
  <div class="logo-section">
    NOTE <span>Solutions</span>
  </div>

  <div class="links-section">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="dashboard">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="products">
          Products
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="customers">
          Customers
        </a>
      </li>
    </ul>
  </div>
</div>
