<div class="sidebar-area">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li>
        <p>Products</p>
        <ul>
          <li><a href="#">Index</a></li>
          <li><a href="#">Create</a></li>
        </ul>
      </li>
      <li>
        <p>Product Units</p>
        <ul>
          <li><a href="#">Index</a></li>
          <li><a href="#">Create</a></li>
        </ul>
      </li>
      <li>
        <p>Portal</p>
        <ul>
          <li>
            <p>Receipts</p>
            <ul>
              <li><a href="#">Index</a></li>
              <li><a href="#">Create</a></li>
            </ul>
          </li>
          <li><a href="#">Invoices</a></li>
        </ul>
      </li>
    </ul>
</div>
