:root {
  --primary-color: #0d0bab;
  --alternate-color: rgb(20, 121, 152);
  --background-color: #f5f5f5;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  background-color: var(--background-color);
}
