/* You can add global styles to this file, and also import other style files */

:root{
  --blue-color :#1e293b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.snackbar-success {
  background-color: #4caf50 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 8px !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 8px !important;
  white-space: pre-line;
}
.mat-snack-bar-action {
  color: #ffeb3b !important; /* أصفر */
  font-weight: bold;
}
