<div class="container-fluid mt-4">
  <div class="table-responsive">
    <table class="table table-hover table-striped align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th class="col-1">#</th>
          <th class="col-6">الاسم</th>
          <th class="col-5">المحافظة</th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cities; let i = index">
          <td>{{ i + 1 }}</td>
          <td><a [routerLink]="[c.id]">{{ c.name }}</a></td>
          <td>{{ c.governorateId }}</td>
          <td>
            <div class="dropdown position-static">
              <button class="btn btn-sm btn-primary" type="button" id="optionMenuButton{{ i }}" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-gear"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" [routerLink]="['/address-management/cities', c.id]">تعديل</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

        <tr *ngIf="cities.length === 0">
          <td colspan="4" class="text-muted py-4">لا توجد بيانات</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
