<div class="container py-5">
  <div class="row g-4">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header bg-primary text-white text-center py-4">
          <h5 class="mb-0 fw-bold">Invoicing System</h5>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="text-muted flex-grow-1">إصدار الفواتير والإيصالات إلكترونيًا متكامل مع الضرائب.</p>
          <a  routerLink="/invoicing/dashboard" class="btn btn-primary btn w-100 mt-3">Open</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-header bg-primary text-white text-center py-4">
          <h5 class="mb-0 fw-bold">Accounting Office</h5>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="text-muted flex-grow-1">إدارة مكاتب المحاسبة والعملاء والملفات والتقارير المالية.</p>
          <a routerLink="/accounting/dashboard" class="btn btn-primary btn w-100 mt-3">Open</a>
        </div>
      </div>
    </div>
  </div>
</div>
