<div class="container card p-4">
  <div>
    <h2 class="text-center mb-4">Forget Password</h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 400px">
    <div class="form-group mb-3">
      <label class="form-label" for="email">Email:</label>
      <input class="form-control" id="email" type="text" formControlName="email" placeholder="Enter your Email" />
    </div>
    <button class="btn btn-primary w-100" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
