<div class="card shadow-lg border-0 rounded-4">
  <div class="card-header text-center text-light py-4 rounded-top-4" style="background-color: var(--main-color);">
    <h4 class="mb-1 fw-bold">Forgot Password</h4>
    <small class="opacity-75">
      Enter your email and we’ll send you a reset link
    </small>
  </div>

  <div class="card-body p-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="mb-4">
        <label class="form-label" for="email">
          Email address
        </label>
        <input class="form-control form-control" id="email" type="email" placeholder="example@email.com"
          formControlName="email" />
        <app-display-error [control]="email"></app-display-error>
      </div>

      <button class="btn w-100 text-light" style="background-color: var(--main-color);" type="submit"
        [disabled]="this.form.invalid">
        Send Reset Link
      </button>

    </form>
  </div>

  <div class="card-footer text-center bg-light border-0 rounded-bottom-4 py-3">
    <small>
      Remember your password?
      <a routerLink="/auth/login" class="text-decoration-none">
        Back to Login
      </a>
    </small>
  </div>
</div>
