.page {
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 250px;
  min-height: 100vh;
}

.body {
  padding-inline-start: 250px;
}

.content {
  padding: 12px;
}
